<?xml version="1.0"?>
<configuration>
  <system.diagnostics>

    <sources>
      <source name="TraceSwitchSource" switchName="AppTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="Console"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <!-- This switch controls debugger breaks. In order to turn on Debugger.Break() change value="0" to value="1" -->
      <add name="BreakIntoDebugger" value="0"/>
      <!-- This switch controls general messages written by Trace. 
          Off = 0

          Error = 1

          Warning = 2

          Info = 3

          Verbose = 4 (turns on everything above)
      -->
      <add name="AppTraceSwitch" value="4"/>
    </switches>

    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
    </sharedListeners>



  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
